html {
    background: url('assets/berries-bowl-bowl-of-fruit-close-up-1145977.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}



.page__container {
    position: absolute;
    top: 0;
    left: 16%;
    right: 16%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background-color: #dfebfb;
    color: #0d3b06;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    max-width: 1000px;
    height: auto;
}

.header-image {
    background: url('assets/au-raw_logo_640.png') no-repeat;
    max-width: auto;
    height: 214px;
}

@media (min-width: 1000px) {
    .header-image {
      background: url('assets/au-raw_logo.png') no-repeat;
      height: 420px;
      width: auto;
    }
  }


.main-part__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 30px 20px 30px;
    background: #5b142e;
    color: #d3cecb;
}

/********** NAVIGATION MENU and SEARCH BAR **********/

/** clearfix **/

header::after {
    content: '';
    display: table;
    clear: both;
}

/** end clearfix **/

/** navigation menu **/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    width: 70%;
    margin: 0px auto;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav li {
    padding: 25px 0 25px 0;
    position: relative;
}

nav a {
    color: #6bb360;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #0d3b06;

    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

nav a:hover::before {
    width: 100%;
}

nav a:hover {
    color: #0d3b06;
    transition: all ease-in-out 300ms;
}

/** end navigation menu **/


/** search bar **/

.search {
    width: 90%;
    display: flex;
    }

.searchTerm {
    width: 100%;
    border: 2px solid #6bb360;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    }

.searchTerm:focus{
    color: #0d3b06;
    }

.searchButton {
    width: 40px;
    height: 34px;
    border: 1px solid #6bb360;
    background: #6bb360;
    text-align: center;
    color: #eeeeee;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    }

.wrap {
    width: 30%;
    float: right;
    padding: 15px auto 15px auto;
    margin: 15px auto 15px auto;
    }

/** end search bar **/

/********** END NAVIGATION MENU and SEARCH BAR **********/

/********** FOOTER **********/

footer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background-color: #dfebfb;
    color: #0d3b06;
}

footer ul {
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

footer li {
    padding: 10px 0px;
}

footer a {
    text-decoration: none;
    color: #0d3b06;
}

footer a:hover {
    color: #6bb360;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.0em;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
}

#dark-green {
    color: #0d3b06;
}

#green {
    color: #6bb360;
}

#copy {
    font-size: 1.3em;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact p {
    margin: 0;
    padding: 0;
}

.top-part__container {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    height: auto;
    padding: 16px;
}

#promo {
    width: 50%;
    float: left;
}

#promo img {
    width: 98%;
    height: 490px;
    object-fit: cover;
}

#promo .name h1 {
    font-size: 1.5em;
    text-decoration: uppercase;
    font-size: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

#promo .description {
    display: flex;
    flex-direction: row;
}

#promo-description {
    width: 80%;
}

#promo-price {
    width: 20%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    padding-right: 3%;
}


#sections {
    width: 50%;
    float: right;
}

.sections__tiles {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 10px;
}

#sections img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#sections p {
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}